<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }} - PyLadies Harare</title>
    {% load staticfiles %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'pyladies_harare/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'pyladies_harare/css/blog-home.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}">
                    <img src="{% static 'pyladies_harare/img/pyharare.png' %}" width="150" height="170" /> </a>
                    </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'home' %}">Home</a></button>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'meetups' %}" class="dropdown-toggle" data-toggle="dropdown">Meetups <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'meetups' %}">Our Meetups</a></li>
                            <li><a href="{% url 'upcoming' %}">Upcoming Meetups</a></li>
                            <li><a href="{% url 'past' %}">Past Meetups</a></li>
                        </ul>
                    <li class="dropdown">
                        <a href="{% url 'talk_types' %}" class="dropdown-toggle" data-toggle="dropdown">Talks <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'topics' %}">Topics</a></li>
                            <li><a href="{% url 'talks:create_talks' %}">Submit Talk</a></li>
                            <li><a href="{% url 'talks:suggest_talk' %}">Suggest Talk</a></li>
                        </ul>
                    <li><a href="{% url 'code_of_conduct' %}">Code of Conduct</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>

                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello {{ user.username }}! <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'profiles:profile_home' %}">Profile</a></li>
                            <li><a href="{% url 'profiles:update' user.pk %}">Update Profile</a></li>
                            <li><a href="{% url 'profiles:login_details'  user.pk %}">Log in Details</a></li>
                            <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
                        </ul>

                    {% else %}

                    <li class="dropdown">
                        <a href="{% url 'accounts:login' %}" class="dropdown-toggle" data-toggle="dropdown">Log in <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'accounts:login' %}">Log in</a></li>
                            <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
                        </ul>
                    {% endif %}

                </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
              {% block content %}

              {% endblock %}

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h3>Search</h3>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                <h3>Blog Categories</h3>
                <div class="row">
                <div class="col-lg-6">
                {% for category in categories %}
		            <a href="#">{{ category.category }}</a>
				        {% endfor %}
                </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h3><a href="{% url 'upcoming' %}">Upcoming Meetups</a></h3>
                    {% for meetup in meetups %}
                    <h4>{{ meetup.name }} </h4>
                    <p><strong>Location:</strong> {{ meetup.location }} </p>
                    <p><strong>Date:</strong> {{ meetup.fromdate }} -  {{ meetup.todate }}</p>
                    <p><strong>Website:</strong> <a href="">{{ meetup.website }}</a></p>
                    <br />
                  {% endfor %}
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-3">
                    <p>Copyright &copy; PyLadies Harare {{ year }}</p>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-md-9">
                <div class="nav navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://facebook.com/pyladieshre" title="Facebook" target="_blank">
                                <img src="{% static 'pyladies_harare/img/facebook.png' %}" width="40" height="40"></a></li>
                        <li><a href="https://twitter.com/PyLadiesHRE" title="Twitter" target="_blank">
                                <img src="{% static 'pyladies_harare/img/twitter2.jpg' %}" width="40" height="40"></a></li>
                        <li><a href="https://www.linkedin.com/groups/13508061" title="Linkedin" target="_blank">
                                <img src="{% static 'pyladies_harare/img/linkedin.jpg' %}" width="40" height="40"></a></li>
                        <li><a href="https://groups.google.com/googlegroups.pngforum/?hl=en#!forum/pyladies-harare" title="Google Groups" target="_blank">
                                <img src="{% static 'pyladies_harare/img/googlegroups.png' %} "width="40" height="40"></a></li>
                        <li><a href="https://www.meetup.com/PyLadies-Harare" title="Meetup" target="_blank">
                            <img src="{% static 'pyladies_harare/img/meetup.png' %}" width="40" height="40"></a></li>
                    </ul>
              </div>
                    </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'pyladies_harare/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'pyladies_harare/js/bootstrap.min.js' %}"></script>

</body>

</html>
