{% extends 'pyladies_harare/base.html' %}

{% block content %}

<div class="row">

  <div class="col-md-4">
<h3>Contact Us</h3>
        <br />
<address>
    <strong>Email:</strong> <a href="mailto:harare@pyladies.com">harare@pyladies.com</a>
    </address>
<address>
    <strong>Facebook: </strong><a href="">https://facebook.com/pyladiesharare</a>
    </address>
<address>
    <strong>Twitter: </strong><a href="https://twitter.com/pyladiesHRE">@pyladiesHRE</a>
    </address>
<address>
    <strong>Meetups: </strong><a href="">https://meetups.com/pyladiesharare</a>
    </address>
</div>

    <div class="col-md-8">
        <h3>Email Us:</h3>
        <br />
        {% load crispy_forms_tags %}
        {% crispy contact_form contact_form.helper %}
         <form action="{% url 'contact' %}" method=post>
          {% csrf_token %}
          {{ form }}
        </form>
    </div>

  </div>

{% endblock %}
